test/RenameNested/attrs.xsd

<!-- Adapted from https://www.w3schools.com/xml/el_restriction.asp -->
<?xml version='1.0'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
            targetNamespace="urn:nestedelems"
            xmlns:bks="urn:nestedelems">
  <xs:complexType name="t1">
    <xs:sequence>
      <xs:element name="e1" type="xs:string" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="t2">
    <xs:sequence>
      <xs:element name="e2" type="xs:string" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" />
  </xs:complexType>
</xs:schema>
