test/SequenceBasic/seqbasic0.xsd

<!-- From https://www.w3schools.com/xml/schema_example.asp -->
<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="seqbasic">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="f1" type="xs:string"/>
      <xs:element name="f2" type="xs:integer"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>