test/Books/book-mod0.xsd

<!-- Reduced version of https://learn.microsoft.com/en-us/previous-versions/windows/desktop/ms764613(v=vs.85) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="urn:books"
            xmlns:bks="urn:books">

  <xsd:complexType name="BookForm">
    <xsd:sequence>
      <xsd:element name="title" type="xsd:string" />
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:string" />
  </xsd:complexType>

  <xsd:element name="book" type="BookForm" />
</xsd:schema>
